<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <script src="jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <script src="dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <link rel="icon" type="image/png" href="images/q-icon.png" sizes="16x16">
  <script src="js/landing.js"></script>
</head>
<body>

  <div id="nav-bar" class="ui menu secondary blue inverted">
    <h2 class="item logo">QuizApp</h2>
    <div class="right menu sign-in">
      <div class="inline fields">
        <form method="post" action="/login">
          <div class="ui mini input">
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="ui mini input">
            <input type="password" name="password" placeholder="Password">
          </div>
          <button id="sign-in-button" class="tiny ui button disabled" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>

  <div class="landing-body">

  </div>

</body>
</html>