.landing-body {
  background-image: url('https://media.giphy.com/media/3oEdv539t8XuOua6zu/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -14px;

}

.sign-up {
  align-self: center;
  width: 600px;
}