a {
  color: black;
}

.side-bar {
  position: absolute;
  left: 0;
  width: 200px;
  margin: 0 0 0 22px;
}

.test {
  position: absolute;
  left: 232px;
  background-color: #008FBF;
  margin: 0;
}

#data-divider {
  display: flex;
}

#left-data {
  width: 170px;
}

.ui.list {
  border: 1px solid rgba(0,50,150,0.3);
  overflow: hidden;
  overflow-y: scroll;
  height: 40px;
}

.selected {
  background-color: rgb(230,230,230);
}

.selected:hover {
  background-color: rgb(200,200,200);
}

.side-menu {
  width: 170px;
  margin-bottom: 0.5em;
  text-align: left;
}

.controls-scroll {
  overflow: hidden;
  overflow-y: scroll;
}